/*font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;*/

body{
    background-color: #e2dddd;
    overflow-x: hidden;
}



#navbar-site-title{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding-left: 1.2%; 
}

#navbar-form{
    width: 450px;
}

#navbar-field{
    widows: 100%;
    border-radius: 9px;
    border: 1px solid blanchedalmond;
    box-shadow: 0px 1px 3px rgba(164,164,164,0.2);
    color: rgb(47, 48, 49);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#navbar-field-placeholder{
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#navbar-profile img{
   border-radius: 50%;
   border: 1px solid rgb(160, 156, 156);
   width: 15%;
}
#navbar-profile span {
  margin-left: 4%;
  color: #262626 ;
}

#navbar-nav{
    background-color: white;
    box-shadow: 10px 2px 10px rgba(26, 25, 25, 0.3);
    height: 64px;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    
}

#sidebar-wrapper{
    min-height: 100vh;
    margin-left: -18rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #262d37ff;

}

#sidebar-wrapper .sidebar-heading{
    padding: 0.875rem 1.25rem;
    background-color: #262d37ff;
    color: white;
    height: 65px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}
#sidebar-wrapper .sidebar-heading img{
    width: 50px;
    padding-bottom: 3%;
    padding-right: 3%;
}

#sidebar-wrapper .list-group{
    width: 18rem;

}

#sidebar-wrapper .list-group-item{
    background-color: #262d37ff;
    color: white;
    border: none;
    padding: 10%;
    font-family: 'Nunito', sans-serif;
    padding-left: 15%;

}
#sidebar-wrapper .list-group-item:hover{
    background-color: rgb(21, 27, 36);
    color: white;
}

#page-content-wrapper{
    min-width: 100vw;
}

#menu-toggle{
    background-color: #262d37ff;
    widows:100px;
    height: 64px;
    color: white;
    padding-top: 14px;
}

#menu-toggle img{
    width: 50px;

}

@media(min-width: 768px) {
    #page-content-wrapper{
        min-width: 0;
        width: 100%;
    }

    #sidebar-wrapper{
        margin-left: 0;
    }
}